Demo ng-urx

<div class="urx-row">
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>
  <div class="urx-col-1">
    adios
  </div>


  <div class="urx-col-8">
    hola
  </div>
  <div class="urx-col-4">
    hola
  </div>
  <div class="urx-col-8">
    hola
  </div>
  <div class="urx-col-4">
    hola
  </div>
  <div class="urx-col-6">
    hola
  </div>
  <div class="urx-col-6">
    hola
  </div>
  <div class="urx-col-8">
    hola
  </div>
  <div class="urx-col-8">
    hola
  </div>
  <div class="urx-col-8">
    hola
  </div>
  <div class="urx-col-8">
    hola
  </div>
  <div class="urx-col-8">
    hola
  </div>
  <div class="urx-col-8">
    hola
  </div>
</div>

<input inputMask mask="pesos" [aliases]="maskAlises">
