<div class="container mt-3">
  <mat-card>
    <form
      [formGroup]="form"
      (submit)="onSubmit()"
    >
      <div class="row">
        <div class="col-md-12">
          <drop-file
            label="Arrastra tu archivo aquí"
            formControlName="userImage"
            overColor="#1DE9B6"
            [accept]="[]"
            [multiple]="false"
            errorMessage="La foto de usuario es requerida"
          >
          </drop-file>

          <drop-file
            label="Arrastra tu archivo aquí"
            overColor="#1DE9B6"
            [accept]="[]"
            [multiple]="false"
            errorMessage="La foto de usuario es requerida"
          >
          </drop-file>
        </div>
      </div>

      <button type="submit">Envia</button>
    </form>
  </mat-card>
</div>

